---
import { fetchProgress, type Version, type Progress } from "../lib/progress";

interface Props {
  version: Version;
  color: "green" | "yellow" | "blue" | "orange";
}

type UplotData = [number[], number[]];

const { version, color } = Astro.props;

const colors = {
  green: { stroke: "#40e334", fill: "#91eb7f" },
  yellow: { stroke: "#e3ac34", fill: "#edc97e" },
  blue: { stroke: "#3d76da", fill: "#1e3b6d" },
  orange: { stroke: "#cc8400", fill: "#ffa500" },
};

const data = await fetchProgress(version);
const { stroke, fill } = colors[color];

const uplotData = data.reduce(
  (acc, current) => {
    acc[0].push(current.timestamp);
    acc[1].push(current.percentBytes);
    return acc;
  },
  [[], []] as UplotData
);
---

<br />
<br />
<p>{Object.keys(data[6])}</p>
